<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="insertBoard">
        insert into drama (rank1, title, platform, type1, character1, expl, eps, rate)
        values (#{rank1} , #{title} , #{platform} , #{type1}, #{character1}, #{expl}, #{eps}, #{rate})
    </insert>
    <update id="updateBoard">
        update drama
        set rank1=#{rank1}, title=#{title}, platform=#{platform}, type1=#{type1}, character1=#{character1}, expl=#{expl}, eps=#{eps}, rate=#{rate} where seq=#{seq}
    </update>
    <delete id="deleteBoard">
        delete from drama where seq=#{seq}
    </delete>
    <select id="getBoard" resultType="board">
        select * from drama where seq=#{seq}
    </select>
    <select id="getBoardList" resultType="board">
        select * from drama order by seq desc
    </select>
</mapper>