<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    <beans:bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver"></beans:property>-->
<!--        <beans:property name="url" value="jdbc:mysql://walab.handong.edu/p2_22100107"></beans:property>-->
<!--        <beans:property name="username" value="p2_22100107"></beans:property>-->
<!--        <beans:property name="password" value="in8oCh7eef"></beans:property>-->
<!--    </beans:bean>-->
<!--    <beans:bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">-->
<!--        <beans:property name="dataSource" ref="ds"></beans:property>-->
<!--    </beans:bean>-->
<!--    <beans:bean id="dao" class="com.example.board.BoardDAO">-->
<!--        <beans:property name="sqlSessionFactory" ref="jt"></beans:property>-->
<!--    </beans:bean>-->

    <bean name="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://walab.handong.edu:3306/p2_22100107"/>
        <property name="username" value="p2_22100107"/>
        <property name="password" value="in8oCh7eef"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mappers/*-mapper.xml"></property>
    </bean>
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/></bean>
</beans>